body {
  overflow: hidden;
  background-image: url(../images/cork.png);
  font-size: 1em;
}

#postcard {
  position: absolute;
  display: block;
  left: 35em;
  top: 6em;
  rotation: 2deg;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}

#mantra {
  line-height: 1.5em;
  position: absolute;
  left: 0.6em;
  top: -0.7em;
  opacity: 0.8;
  font-size: 3.0em;
  font-family: "Helvetica Neue";
  color: #332116;
}

#mantra .problem {
  letter-spacing: 0em;
}

#mantra h1 {
  text-shadow: 5px 3px 10px #cc845a, -10px -1px -5px #1a100b;
  rotation: -4deg;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-4deg);
}

#mantra h2 {
  color: #000;
  font-size: 0.5em;
  line-height: 1em;
  text-shadow: 0px 1px 1px #eee;
}

#mantra h2 .solution {
  color: #fff;
  text-shadow: 0px 0px 0px #eee;
}

#marker {
  display: block;
  position: absolute;
  left: 43em;
  top: 19em;
  opacity: 0.3;
}

#text {
  padding: 0.3em;
  position: absolute;
  left: 42em;
  top: 14em;
  width: 10em;
  height: 4em;
  opacity: 0.6;
  background-color: #000;
  border-radius: 0.4em;
}

#text span {
  color: white;
  font-family: "Courier New";
  font-weight: normal;
  font-size: 0.7em;
}

.line {
  padding-top: 1.1em;
  padding-right: 0.6em;
  display: block;
  text-align: right;
}

@-webkit-keyframes pulse {
 from {
   opacity: 0.3;
 }
 to {
   opacity: 1.0;
 }
}

#pulse {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}