body {
  overflow: hidden;

  background-color: #000;
  margin: 0;
  font-size: 1em;
}

#main_image {
  position: relative;
}

#postcard {
  position: absolute;
  display: block;
  right: 10em;
  top: 6em;
  rotation: -2deg;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
}

.marker {
  display: none;
  position: absolute;
  cursor: pointer;
}

#marker_boat {
  left: 250px;
  top: 120px;
}

#marker_street {
  left: 703px;
  top: 430px;
}

#marker_park {
  left: 775px;
  top: 500px;
}

#marker_roof {
  left: 1112px;
  top: 427px;
}


.speech_bubble {
  display: none;
  position: absolute;
}

#speech_bubble_street {
  left: 671px;
  top: 370px;
}

#speech_bubble_park {
  left: 743px;
  top: 439px;
}

#speech_bubble_boat {
  left: 220px;
  top: 60px;
}

#speech_bubble_roof {
  left: 900px;
  top: 365px;
}

.bubble_arrow {
  position: absolute;
  left: 33px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000;
  opacity: 0.6;
  background-color: transparent;
}

#speech_bubble_roof .bubble_arrow {
  left: 215px;
}

.bubble_text {
  padding: 0.3em;
  width: 16em;
  height: 2.5em;
  opacity: 0.6;
  background-color: #000;
  border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
}

.bubble_text span {
  color: white;
  font-family: "Courier New";
  font-weight: normal;
  font-size: 0.7em;
}

.second_line {
  padding-top: 0em;
}

@-webkit-keyframes pulse {
 0% {
   opacity: 0.4;
 }
 40% {
    opacity: 0.9;
  }
 100% {
   opacity: 0.9;
 }
}

.pulse {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}