body {
  overflow: hidden;
  background-color: #000;
  margin: 0;
  font-size: 1em;
}

#photo_disclaimer {
  font-family: Arial;
  font-size: 0.8em;
  position: absolute;
  left: 1em;
  top: 50.5em;
  color: #000;
  opacity: 0.4;
}

#photo_disclaimer a {
  text-decoration: none;
  color: #000;
}

#photo_disclaimer a:hover {
  font-weight: bold;
}

#postcard {
  position: absolute;
  display: block;
  right: 10em;
  top: 6em;
  rotation: -2deg;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
}

.marker {
  display: none;
  position: absolute;
  cursor: pointer;
}

#marker_typewriter_boat {
  left: 248px;
  top: 114px;
}

#marker_typewriter_street {
  left: 703px;
  top: 430px;
}

#marker_typewriter_park {
  left: 775px;
  top: 500px;
}

#marker_typewriter_roof {
  left: 1112px;
  top: 428px;
}


.typewriter {
  display: none;
  position: absolute;
}

#typewriter_street {
  left: 671px;
  top: 370px;
}

#typewriter_park {
  left: 743px;
  top: 439px;
}

#typewriter_boat {
  left: 220px;
  top: 60px;
}

#typewriter_roof {
  left: 930px;
  top: 365px;
}

.bubble_arrow {
  position: absolute;
  left: 33px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000;
  opacity: 0.6;
  background-color: transparent;
}

#typewriter_roof .bubble_arrow {
  left: 185px;
}

.bubble_text {
  padding: 0.3em;
  width: 16em;
  height: 2.5em;
  opacity: 0.6;
  background-color: #000;
  border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
}

#typewriter_street .bubble_text {
  width: 14em;
}

#typewriter_roof .bubble_text {
  width: 14em;
}

.bubble_text span {
  color: white;
  font-family: "Courier New";
  font-weight: normal;
  font-size: 0.7em;
}

.second_line {
  padding-top: 0em;
}

@-webkit-keyframes pulse {
 0%   { opacity: 0.4; }
 40%  { opacity: 0.9; }
 100% { opacity: 0.9; }
}

/*@-moz-keyframes pulse {
  0%   { opacity: 0.4; }
  40%  { opacity: 0.9; }
  100% { opacity: 0.9; }
}
@-o-keyframes pulse {
  from   { opacity: 0.4; }
  to  { opacity: 0.9; }

}
*/
.pulse {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
/*  -moz-animation-name: pulse;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-direction: alternate;
  -o-animation-name: pulse;
  -o-transition-duration: 1.5s;
  -o-transition-property: opacity;
  -o-animation-iteration-count: infinite;
  -o-transition-timing-function: ease-in-out;
  -o-animation-direction: alternate;
*/
}