body {
	background: transparent url(../images/wood.jpg) repeat;
	position: relative;
	padding-top: 40px; padding-bottom: 100px;
	color: #33302a;
  text-shadow: 1px 1px 1px #fff;
}

a {
  text-decoration: none;
}

#background {
	position: absolute;
	left:0; top:0; right:0; bottom:0;
	z-index:-1;
}

#background .right {
	position: absolute;
	left:50%; top:0; right:0; bottom:0;
	background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 99%); /* IE10+ */
	background: linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}

#background .left {
	position: absolute;
	left:0; top:0; right:50%; bottom:0;
	background: -moz-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.4)), color-stop(99%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 99%); /* IE10+ */
	background: linear-gradient(left, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#54000000',GradientType=1 ); /* IE6-9 */
}

#postcard-shadow {
	width: 600px;
	height: 383px;
	margin: 0 auto;
	
    background-color: rgb(0,0,0); /* Needed for IEs */
    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 15px 50px rgba(0,0,0,0.6);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);

    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
    zoom: 1;
}

#postcard {
	width: 600px;
	height: 383px;
	background: transparent url(../images/postcard.jpg) no-repeat;
	position: relative; /* This protects the inner element from being blurred */
}

#postcard-text {
	width: 310px;
	padding: 20px;
	font-size: 12pt;
}

#postcard-recipient {
  position: absolute;
  left: 373px;
  top: 156px;
  width: 220px;
}

img#stamp {
  position: absolute;
  width: 85px;
  right: 0.9em;
  top: 0.8em;
}

.recipient-line {
  font-size: 1.2em;
}

#recipient-line-1 {
  font-weight: bold;
}

#recipient-line-2 {
  padding-top: 18px;
}

#recipient-line-3 {
  padding-top: 18px;
}

#recipient-line-4 {
  padding-top: 17px;
}

#comments-shadow {
	width: 550px;
	margin: 10px auto;
	
    background-color: rgb(0,0,0); /* Needed for IEs */
    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 15px 50px rgba(0,0,0,0.6);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);

    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
    zoom: 1;
}

#comments {
	width:550px;
	background: transparent url(../images/paper_texture.jpg) repeat;
}

ul#comments-list {
	list-style: none;
	margin: 0; padding:0;
}

ul#comments-list li {
	background: transparent url(../images/comment_bend.png) left bottom repeat-x;
	padding: 10px 20px 20px 20px;
	font-size: 12pt;
	position: relative;
	height: 120px;
	padding-top: 1.5em;
}

ul#comments-list li img.preview {
  border:5px solid white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  width: 130px;
  height: 87px;
  float: left;
}

ul#comments-list li img.stapler {
  position: absolute;
  left: 55px;
  top: 22px;
}

ul#comments-list li p {
  padding-left: 160px;
  font-size: 1.2em;
  margin-top: 0;
}

.tk-gooddog-new {
  
}

#footer {
  -moz-text-shadow: 0 1px 1px #111;
  -webkit-text-shadow: 0 1px 1px #111;
  text-shadow: 0 1px 1px #111;
  position: relative;
  width: 600px;
  margin: auto;
  padding-top: 2em;
  text-align: center;
  color: #ccc;
}

#footer a {
  color: #fff;
}

#footer a:visited {
  color: #fff;
}

#ul#social {
  width: auto;
  margin: auto;
  padding: 0;
}

#footer li {
  float: left;
  list-style: none;
  width: 180px;
  padding-bottom: 1em;
}

#footer li a {
  padding: 5px 10px 5px 10px;
  border-right: 0px solid black;
}

#footer li img {
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
}

#footer #copyright {
  clear: both;
}