<% content_for :title do %>
   - About
<% end %>

<h1 class="logo">About PigeonPost!</h1>

<div id="text" class="introduction">
  <ul>
    <li><a href="/support">support</a></li>
    <li><a href="/privacy">privacy</a></li>
    <li><a href="/attributions">attributions</a></li>
  </ul>
</div>