<% content_for :title do %>
   - Welcome
<% end %>

<% content_for :header do %>
<% end %>

<h1 class="logo">PigeonPost Received</h1>
<h2>Hooray! You have just received a PigeonPost!</h2>

<div id="text">
  <p>Hello there,</p>
  <p>
    a friend of yours has just sent you a postcard using PigeonPost. Awesome!<br />

    He says "@postcard.title".

    To view your postcard just take a look at http://www.pigeon-loft.com.

    Cheerio,

    The PigeonPost Team
  </p>
  <p>
    See what's going on here.
  </p>
</div>

<% content_for :footer do %>
<% end %>