<% content_for :title do %>
   - Welcome
<% end %>

<h1 class="logo">PigeonPost Received</h1>
<h2>Hooray! You have just received a PigeonPost!</h2>

<div id="text">
  <p>
    A friend of yours, "@postcard.user", has just sent you a postcard using PigeonPost. Awesome!
  </p>
  <p>
    They say: <b>"@postcard.title"</b>.
  </p>
  <p>
    To view the whole card just <a href="">visit your personal postcard</a>.
  </p>
  <p style="text-align:center; padding-top:3em;">
    Sincerely,
  </p>
  <p style="text-align:center; font-weight:bold; font-size:2em; font-family: Zapfino; padding-top:0.1em">
    The PigeonPost Team
  </p>
</div>