<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Pigeon Post</title>
	<meta name="description" content="Postcard View - Pigeon Post">
	<meta name="author" content="Pigeon Loft Pty Ltd.">

	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="stylesheets/reset.css">
	<link rel="stylesheet" href="stylesheets/style_card.css">
	
	<script type="text/javascript" src="http://use.typekit.com/mtm5yby.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script src="javascripts/libs/modernizr-2.0.6.min.js"></script>
	<script type="application/javascript">
    var postcard_id = "<%=h @postcard_id %>";
  </script>
</head>
<body>
<div id="background">
	<div class="left"></div>
	<div class="right"></div>
</div>
<div id="container">
	<header>

	</header>
	<div id="main" role="main">

		<div id="postcard-shadow">
			<div id="postcard">
				<img src="/images/stamp.png" id="stamp" />
				<div id="postcard-text">
					<h2 class="tk-gooddog-new"></h2>
					<p></p>
				</div>
				<div id="postcard-recipient">
					<div id="recipient-line-1" class="recipient-line"></div>
					<div id="recipient-line-2" class="recipient-line"></div>
					<div id="recipient-line-3" class="recipient-line"></div>
					<div id="recipient-line-4" class="recipient-line"></div>
				</div>
			</div>
		</div>
		
		<div id="comments-shadow">
			<div id="comments">
				<ul id="comments-list">
				</ul>
			</div>
		</div>

	</div>
	<footer>
		<div id="footer">
			<ul id="social">
				<li>
					<a href="http://itunes.apple.com/us/app/pigeonpost/id486477236" id="appstore">
						<img src="/images/appstore.png" />
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/pigeonary" id="facebook">
						<img src="/images/facebook.png" />
					</a>
				</li>
				<li>
					<a href="https://twitter.com/#!/Pigeonary" id="twitter">
						<img src="/images/twitter.png" />
					</a>
				</li>
			</ul>
			<div id="copyright">
				<a href="mailto:pigeonary@gmail.com?subject=please unsubscribe me&amp;body=Please unsubscribe the E-Mail I am sending this with from your newsletter.">Unsubscribe</a> from PigeonPost notifications<br />
				Pigeon Loft Pty. Ltd. &copy; 2011 All Rights Reserved
			</div>
		</div>
	</footer>
</div> <!--! end of #container -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>

<!-- scripts concatenated and minified via ant build script-->
<script src="javascripts/plugins.js"></script>
<script src="javascripts/script.js"></script>
<!-- end scripts-->

</body>
</html>
