<% content_for :title do %>
   - Welcome
<% end %>

<h1 class="logo">PigeonPost Received</h1>
<h2>Hooray! You have just received a PigeonPost!</h2>

<div id="text">
  Introducing PigeonPost!

  Look at us. Running around. Always rushed, always late - I guess that's why they call it the human race...But what we create more in this world is connection. For some people is happening at first sight, for some it's taking some time, but however it happens - it's faith, working it's magic........................But sometimes it slows down just enough for all the pieces to fall into place. Faith works its magic - and you're connected.



  You’re connected through PigeonPost. PigeonPost is a social mailing service that revives the flair of sending postcards the old fashioned way. In busy and rushed times PigeonPost is like messaging decelerated. But instead of using postal services to deliver your postcard, the community will. A community of hundreds, thousands, ten thousands of enthusiastic travelers carrying your personalized postcard from where you are at the moment to its destination.


  Simply snap a quick photo of your location and design your own postcard, add your greeting and address and then, drop it. PigeonPost users will then be able to spot your dropped postcard and will be able to pick it up and take it one step further to its destination. Users can comment and add media to your postcard and will be rewarded for their efforts. You can track it all along the way and be part of this amazing journey. Once it reaches its destination you can decide whether you actually want to print it and have it send to you within days with all comments attached.

  Look at us. Running around. Always rushed, always late - I guess that's why they call it the human race; or pigeon race in this case!
</div>